@media screen and (max-width: 600px)
{
  .material-symbols-outlined
  {
    cursor: pointer;
    display: block !important;
  }
  .nav_section
  {
    display: none;
  }
  .sideBar
  {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px)
{
  .sideBar
  {
    display: none !important;
  }
}